---
namespace: vladvisan
name: galaxy_collection
description: A collection of Galaxy roles
version: "{{ tag }}"
readme: README.md
authors:
  - Vlad Visan
dependencies: { 
  community.postgresql: "*", # Required by postgresql_objects
}
license:
  - MIT
tags:
  - galaxy
  - linux
  - nginx
  - usegalaxyeu
  - postgresql
repository: https://github.com/vladvisan/galaxy-collection
documentation: https://github.com/vladvisan/galaxy-collection
# homepage: ""
issues: https://github.com/vladvisan/galaxy-collection/issues
build_ignore:
  - scripts
  - molecule
  - .DS_Store
